/* Permitir varias líneas para las columnas de la tabla */
div.ui-datatable>.ui-datatable-tablewrapper>table tbody tr[role=row] td,
div.ui-treetable>table tbody tr[role=row] td {
    white-space: break-spaces;
    text-overflow: initial;
}

/* Cambiar tamaño a partir del cual cambia formato */
@media screen and (max-width: 900px) {
    .ui-datatable-reflow .ui-datatable-data.ui-widget-content {
        border: 0 none;
    }

    .ui-datatable-reflow .ui-datatable-data tr.ui-widget-content {
        border-left: 0 none;
        border-right: 0 none;
    }

    .ui-datatable-reflow .ui-datatable-data td[role="gridcell"]:not(.ui-helper-hidden) {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left;
    }

    .ui-datatable-reflow .ui-datatable-data td[role=gridcell] .ui-column-title {
        display: block;
        font-size: var(--caption-size);
        font-weight: 600;
        line-height: 1.5;
        color: var(--gris-oscuro-500-base);
        margin-bottom: 4px;
        background: 0;
        border: 0;
    }

    .ui-datatable-reflow thead th,
    .ui-datatable-reflow tfoot td {
        display: none;
    }
}